<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Acerca del Proyecto | mepv</title>
    <meta name="description" content="This is the description">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0F44C7;">
            <div class="collapse navbar-collapse" id="navbarNav">
                <a class="nav-link active" style="color: #fff;" th:href="@{/}">Home</a>
                <a class="nav-item nav-link active" style="color: #fff;" th:href="@{/about}">Acerca del Proyecto</a>
            </div>
        </nav>
        <h1 class="project-name project-name-large">Proyecto Final - AYI group</h1>
    </header>
    <section class="content-section container">
        <h2 class="section-header">Acerca del proyecto</h2>
        <ul>
            <li>
                Aplicación para ver una lista de clientes con una lista de productos.
            </li>
            <li>
                La aplicación puede hacer las operaciones CRUD - Create, Read, Update and Delete.
            </li>
            <li>
                La aplicación esta implementando la dependencia del proyecto Lombok.
            </li>
            <li>
                La data está guardada en memoria usando la base de datos H2 Database.
            </li>
        </ul>
        <div>
            <span>API Clientes</span>
            <img src="/static/images/customer.png" alt="customer">
        </div>
    </section>

    <div class="footer-links">
        <div class="footer-container">
            <ul>
                <li>
                    <a href="/index.html">
                        <h2>mepv.me</h2>
                    </a>
                </li>
                <li>
                    <a href="#">Sobre Mi</a>
                </li>
                <li>
                    <a href="/portafolio.html">Portafolio / Sitios Web</a>
                </li>
                <li>
                    <a href="/contact.html">Contacto</a>
                </li>
            </ul>
        </div>
    </div>

    <footer class="footer">
        <h3> <i class="far fa-copyright"></i> mepvDevelopments <br> Todos los derechos reservados</h3>
    </footer>
</body>

</html>