<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clientes Base de Datos</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Productos</h2>
    <hr>
    <h4>Actualizar Productos</h4>

    <form action="#" th:action="@{/saveProduct}" th:object="${product}" method="post">
        <input type="text" th:field="*{productName}" class="form-control mb-4 col-4">

        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{price}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{condition}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Actualizar Producto</button>

        <hr>

        <a th:href="@{/}" class="btn btn-primary">Regresar a la Lista</a>

    </form>
</div>
</body>
</html>